#main{
    width: 80%;
    margin: 10vh auto;
    display: flex;
}

#game-board {
    width: 500px;
    /* margin: auto; */
    display:grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 1fr);
}

#game-board > .cell {
    aspect-ratio: 1 / 1;
    gap: 0;
    border: 1px solid #000;
}